/* --------------------
Box Model Hack
-------------------- */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* --------------------
Main Styles
-------------------- */

/* --------------------
Toolbar
-------------------- */
#toolbar {
  position: absolute;
  top: 0px;
  left: 25vw;
  width: 50vw;
  
  padding: 5px;
  border-radius: 0 0 0 5px;
  
  background-color: lightgray;
  
  display: flex;
  justify-content: space-between;
  
  transition: all 1s linear;
}

#hide-btn {
  position: absolute;
  bottom: -15px;
  right: 0px;
  height: 15px;
  width: 30px;
  
  border: 0;
  border-radius: 0 0 5px 5px;
  
  background-color: lightgray;
  
   transition: background-color .25s linear 0s; 
}

#toolbar.hidden {
  top: -35px;
}

#toolbar.hidden >#hide-btn {
  background: none;
  transform: rotate(180deg);
  
  transition: background-color 1s linear 1s, transform 0s linear 1s;
}

/* --------------------
Foreground
-------------------- */

.foreground-start{
  background-color: rgb(247, 247, 247);
  height: 100vh;
  width: 100vw;
  transition: background-color 30s linear;
}

.foreground-end{
  background-color: rgb(255,157,47);
  height: 100vh;
  width: 100vw;
  transition: background-color 30s linear;
}

/* --------------------
Aperture
-------------------- */

#aperture {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 60vw;
  background-color: rgb(151,176,255);
  transition: clip-path 3s linear;
}

.default-aperture-diamond {
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
}

.default-aperture-ellipse {  
  clip-path: ellipse(75% 75% at center);
}

.diamond-aperture {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.ellipse-aperture {
  clip-path: ellipse(250px 350px at center);
}



/* .diamond-aperture:hover {
  clip-path: ellipse(250px 350px at center);
  animation: 1s ellipse;
  transition: clip-path 1s;
}

.ellipse-aperture:hover {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  animation: 1s ellipse;
  transition: clip-path 1s;
}

@keyframes ellipse {
  0% { clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); }
  100% { clip-path: ellipse(250px 350px at center); }
} */