/* --------------------
Box Model Hack
-------------------- */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* --------------------
Main Styles
-------------------- */

* {
  font-family: athelas, serif;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 1em;
  margin-top: 5px;
}

body {
  display: flex;
  justify-content: center;
}

/* --------------------
Toolbar
-------------------- */
#toolbar {
  position: absolute;
  top: 0px;
  width: 75vw;
  padding: 20px;
  border-radius: 0 0 0 5px;
  background-color: whitesmoke;
  transition: all 1s linear;
}

.toolbar-container {
  display: flex;
}

#hide-btn {
  position: absolute;
  bottom: -15px;
  right: 0px;
  height: 15px;
  width: 30px;
  border: 0;
  border-radius: 0 0 5px 5px;
  background-color: whitesmoke;
   transition: background-color .25s linear 0s; 
}

#toolbar.hidden {
  top: -169px;
}

#toolbar.hidden >#hide-btn {
  background: none;
  transform: rotate(180deg);
  transition: background-color 1s linear 1s, transform 0s linear 1s;
}

.description {
  flex-direction: column;
  flex: 1;
  margin-right: 15px;
}

.tools {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#button-tools {
  display: flex;
}

#button-tools button {
  flex: 1;
}

/* --------------------
Foreground
-------------------- */

.foreground-start{
  background-color: rgb(247, 247, 247);
  height: 100vh;
  width: 100vw;
  transition: background-color 30s linear;
}

.foreground-end{
  background-color: rgb(255,157,47);
  height: 100vh;
  width: 100vw;
  transition: background-color 30s linear;
}

/* --------------------
Aperture
-------------------- */

#aperture {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(151,176,255);
  height: 50vh;
  width: 40vw;
  transition: clip-path 3s linear;
}

.default-aperture-diamond {
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
}

.default-aperture-ellipse {
  clip-path: ellipse(75% 75% at center);
}

.diamond-aperture {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.ellipse-aperture {
  clip-path: ellipse(25% 50% at center);
}